.menu-description {
    white-space: pre-line;
    font-size: 1.1rem;
    line-height: 1.6;
}

.menu-image {
    width: 100%; /* Ancho relativo al contenedor */
    height: 350px; /* Altura más proporcionada */
    object-fit: cover; /* Recorta la imagen manteniendo la proporción */
    border-radius: 8px;
}

.carousel {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    max-width: 600px; /* Limita el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
}